#footer {
    height: 6vh;
    width: 100vw;
    bottom: 0;
    line-height: 5vh;
    position: fixed;
    background-color: rgb(242,242,242);
}

.left-footer {
    margin-left: 2vw;
}

.right-footer {
    margin-right: 2vw;
}

.footer-link {
    color: rgb(112,117,121);
}

#leaf-img {
    width: 12px;
}

#center-link {
    /* padding-right: 130px; */
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

@media (max-width: 700px) {
    #footer {
        height: 8vh;
        font-size: 8px;
    }

    #center-link {
        /* padding: 0; */
        padding-top: 3vh;
    }

    .left-footer, .right-footer {
        bottom: 0;
    }
}

@media (max-width: 350px) {
    #footer {
        display: none;
    }
}