#header {
    width: 100vw;
    margin-top: 2.5vh;
    position: fixed;
}

.left-header {
    margin-left: 2vw;
}

.right-header {
    margin-right: 2vw;
    margin-top: -1vh;
    display: flex;
    align-items: center;
    width: 12vw;
    justify-content: space-around;
}

#nine-dots {
    color: rgb(95, 99, 103);
    font-weight: 900;
    margin-left: 15px;
    /* margin-right: 10px; */
}

#profile-pic {
    margin-left: 20px;
    border-radius: 50%;
    width: 30px;
    border: 2px solid;
    border-color: rgb(233,46,24) rgb(49,115,241) rgb(36,154,65) rgb(246,176,3);
    padding: 2px;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    font-size: 14px;
    margin-right: 16px;
    /* padding: 10px; */
    font-family: Roboto,arial,sans-serif;
}

.header-link {
    color: black;
}

@font-face {
    font-family: "Roboto-Medium";
    src: local("Roboto-Medium"),
      url("../../fonts/Roboto-Medium.ttf") format("truetype");
}

@media (max-width: 700px) {
    #header {
        margin-top: 1vh;
    }

    .header-link {
        font-size: 8px;
    }

    #nine-dots {
        font-size: 12px;
        margin-left: 10px;
    }

    #profile-pic {
        width: 15px;
        margin-left: 5px;
        margin-top: 5px;
        margin-right: 20vw;
    }
}

@media (min-width: 700px) and (max-width: 850px) {
    #profile-pic {
        margin-right: 15vw;
    }
}

@media (min-width: 850px) and (max-width: 1000px) {
    #profile-pic {
        margin-right: 10vw;
    }
}