#google-logo {
    height: 92px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 75px; */
}

#searchbar-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
    height: 45px;
    border-radius: 25px;
    margin-top: 3vh;
    border: 1px solid rgb(218,220,224);
}

#searchbar-container:hover {
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

#searchbar {
    border: none;
    height: 43px;
    width: 35vw;
    outline-width: 0;
    line-height: 50px;
}

#search-icon {
    color: rgb(155,160,166);
    margin-left: 15px;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 900;
}

#mic-icon {
    width: 13px;
    margin-right: 18px;
}

#button-container {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.btn {
    /* margin-top: 3vh; */
    min-width: 130px;
    margin: 4vh 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(248,249,250);
}